@tailwind base;
@tailwind components;
@tailwind utilities;

/* logn/ sign up  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  outline: none;
}
body {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  background-color: #2a2523;
  font-family: 'Roboto', sans-serif;
}
.body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  width: 100%;
  height: 100vh;
}

.custom_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.screen {
  background: linear-gradient(90deg, #5d54a4, #7c78b8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

/* button  */
.btn41-43 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
  color: white;
  /* background: #007bff; */
}

.bg_one {
  background-color: #4ddffd;
}
.bg_two {
  background-color: #1f3bb1;
}
.bg_one:after {
  background-color: #1f3bb1;
}
.bg_two:after {
  background-color: #4ddffd;
}
.border {
  border: 2px solid rgb(255, 255, 255);
}

.btn-41:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  transition: all 0.3s ease;
}

/* .btn-41:hover {
  color: rgb(0, 0, 0);
} */

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

/* What we do */
.card_body {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.card_body:hover {
  background: #1f3bb1;
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}

.card_body:hover .whiteOnHover {
  color: white;
}

.card_body:hover svg {
  fill: white;
}

.custom_circle {
  border-radius: 57% 43% 32% 68% / 55% 38% 62% 45%;
  transform: translateX(270px) translateY(40px);
  transition: all 0.3s ease-in-out;
}
.card_main:hover .custom_circle {
  transform: translateX(160px) translateY(80px);
  transition: all 0.3s ease-in-out;
}

.cart_icon {
  transform: translateY(60px);
  transition: all 0.3s ease-in-out;
}
.card_main:hover .cart_icon {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* why choose us  */

.chooseUs_bg {
  background: #4ddffd;
}
.choose_us:hover .chooseUs_bg {
  background: #1f3bb1;
  transition: all 0.5s ease-in-out;
}

.choose_us:hover svg {
  fill: white;
  transition: all 0.2s ease-in-out;
}

/* slider  */

:root {
  --mon: 'Montserrat', sans-serif;
  --blue: #8a6bff;
  --darkblue: #0a0a36;
}
.container_slider {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}
.sec-title {
  margin-bottom: 50px;
  padding-bottom: 15px;
  position: relative;
}

.sec-title p {
  font-size: 18px;
  line-height: 28px;
}
.testimonial-area {
  background: url('/reviewBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  z-index: 2;
  padding: 50px 0;
}
.testimonial-area .owl-carousel {
  overflow: hidden;
  padding: 0 20px;
  margin: 0px -40px;
  padding-right: 40px;
}
.testimonial-area .owl-stage-outer {
  padding: 30px 50px;
  margin-left: -34px;
  width: calc(100% + 100px);
}
.single-testimonial {
  border: 7px solid #fff;
  text-align: center;
  border-radius: 45px;
  position: relative;
  z-index: 2;
}
.single-testimonial p {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}
.single-testimonial::before {
  content: '';
  position: absolute;
  left: -35px;
  top: -25px;
  background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat #4b4b99;
  background-size: 60%;
  width: 126px;
  height: 100px;
  transform: rotate(180deg);
  background-position: 34px 15px;
}
.single-testimonial::after {
  content: '';
  position: absolute;
  right: -35px;
  bottom: -25px;
  background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat #5d52ad;
  background-size: 60%;
  width: 126px;
  height: 100px;
  background-position: 34px 19px;
}
.round {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.round-1::before {
  content: '';
  position: absolute;
  left: 88px;
  top: -7px;
  width: 50px;
  height: 7px;
  background: #fff;
  border-radius: 30px;
}
.round-1::after {
  content: '';
  position: absolute;
  left: -7px;
  top: 62px;
  width: 7px;
  height: 50px;
  background: #fff;
  border-radius: 30px;
}
.round-2::before {
  content: '';
  position: absolute;
  right: 87px;
  bottom: -7px;
  width: 50px;
  height: 7px;
  background: #fff;
  border-radius: 30px;
  z-index: 1;
}
.round-2::after {
  content: '';
  position: absolute;
  right: -7px;
  bottom: 62px;
  width: 7px;
  height: 50px;
  background: #fff;
  border-radius: 30px;
  z-index: 1;
}
.client-video {
  padding-right: 15px;
}
.client-info {
  position: relative;
  z-index: 3;
}
.client-info a {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-size: 22px;
}
.client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 50px;
}
.client-info h6 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.client-info span {
  display: inline-block;
  color: #fff;
  font-size: 12px;
}

.owl-dots button {
  background: #fff !important;
  width: 10px;
  height: 10px;
  border-radius: 26px;
  margin: 0 5px;
  transition: 0.3s;
}
.owl-dots {
  text-align: center;
  margin-top: 50px;
}
.owl-dots button.active {
  width: 30px;
}

/* blogs  */
.blog_bg {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.blog_bg_hover:hover .blog_bg {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* social icon  */
.icon_main:hover .icon_ {
  color: white;
}


/* ============== */
